{% assign showPagination = showPagination | default: false %}
{% assign paginate = paginate | default: 100 %}
{% assign containerClass = containerClass | default: 'row' %}
{% assign tag = tag | default: 'all' %}

{% paginate blogs.blog.articles by paginate %}
  {% assign count = 0 %}
  {% assign limit = limit or paginate %}

  <div class="{{ containerClass }}">
    {% for article in blogs.blog.articles %}
      {% if article.tags contains tag or tag == 'all' %}

        {% assign count = count | plus: 1 %}

        {% if count > limit %}
          {% break %}
        {% endif %}

        {% include 'blog-post' %}

      {% endif %}
    {% endfor %}
  </div>

  <div class="pagination">
    <a
      {% if paginate.next.is_link %}
        href="{{ paginate.previous.url }}"
      {% else %}
        class="disabled"
        disabled
      {% endif %}
    >
      Previous
    </a>

    <a
      {% if paginate.next.is_link %}
        href="{{ paginate.next.url }}"
      {% else %}
        class="disabled"
        disabled
      {% endif %}
    >
      Next
    </a>
  </div>

{% endpaginate %}
