{% unless template contains 'index' %}
{% if settings.display-mailing-list %}
<div class="footer-mailinglist">
  {% include 'mailing-list' %}
</div>
{% endif %}
{% endunless %}

{% include 'footer' %}
