<div class="au-shipping-bar pseudo-desktop">
  <p class="p--text au-shipping-bar__text au-shipping-bar__desktop">Current average transit time to Australia: 13 Days</p>
</div>
<div class="au-shipping-bar pseudo-mobile">
  <p class="p--text au-shipping-bar__text au-shipping-bar__mobile">Avg ship time to Australia: 13 Days</p>
</div>
<div class="au-shipping-bar">
  <p class="p--text au-shipping-bar__text au-shipping-bar__desktop">Current average transit time to Australia: 13 Days</p>
  <p class="p--text au-shipping-bar__text au-shipping-bar__mobile">Avg ship time to Australia: 13 Days</p>
</div>
