<section class="ingredients">
    <div class="ingredients__icons">
        <div class="ingredients__icon-box">
            <img class="ingredients__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-organic.svg?v=1612937685">
            <h4 class="p--text">Organic Ingredients</h4>
        </div>
        <div class="ingredients__icon-box">
            <img class="ingredients__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-plant-based.svg?v=1612937706">
            <h4 class="p--text">100% Plant Based</h4>
        </div>
        <div class="ingredients__icon-box">
            <img class="ingredients__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-gluten-free.svg?v=1612937714">
            <h4 class="p--text">Gluten Free</h4>
        </div>
        <div class="ingredients__icon-box">
            <img class="ingredients__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-non-gmo.svg?v=1612937707">
            <h4 class="p--text">Non-GMO</h4>
        </div>
    </div>
    <h3 class="p--title">Ingredients + Nutrition Facts</h3>
    <div class="ingredients__details">
        <div class="ingredients__facts">
            <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredients-facts-gold-og.jpg?v=1612937713" alt="">
        </div>
        <div class="ingredients__images">
            <div class="ingredients__item-box">
                <img class="ingredients__image"
                     src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-turmeric-extract.jpg?v=1612937697">
                <h4 class="ingredients__header p--header">Organic Turmeric Root Extract</h4>
            </div>
            <div class="ingredients__item-box">
                <img class="ingredients__image" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-black-pepper.jpg?v=1612937703">
                <h4 class="ingredients__header p--header">Black Pepper Fruit Extract</h4>
            </div>
            <div class="ingredients__item-box">
                <img class="ingredients__image" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-ginger.jpg?v=1612937694">
                <h4 class="ingredients__header p--header">Organic Ginger Extract</h4>
            </div>
            <div class="ingredients__item-box">
                <img class="ingredients__image"
                     src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-sunflower-lecithin.jpg?v=1612937695">
                <h4 class="ingredients__header p--header">Sunflower Lecithin</h4>
            </div>
        </div>
    </div>
</section>
