<a class="anchor" name="top"></a>
<!-- Main navigation -->
<header class="header">
    <h1 class="header__logo">
        Synchro
        {% include 'landing-page.global.logo-svg' %}

    </h1>
</header>
