<section class="testimonials-cards">
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-connie-graber.jpg?v=1612933953" alt="">
        <p class="testimonials-cards__quote">“Love this product. I've used it for a year and a half. Feel awesome,
            helped with joint pain and not one migraine! It’s really nice to find a company with high quality products
            with efficacy. Thanks!”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Connie Graber<span>Gold Liposomal Turmeric customer</span></p>
        <!-- Button to Open the Modal -->
        <button class="video-modal testimonials-cards__video" id="susan-video"
                data-video="https://www.youtube.com/embed/WWKxHTKTKzA" data-toggle="modal" data-target="#videoModal">
            Watch connie's story
        </button>
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-container">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <div class="iframe-container">
                                <iframe width="315" height="560" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-chaundra-cauthen.jpg?v=1612933963" alt="">
        <p class="testimonials-cards__quote">“I think this is a really good product. It really does help with the
            inflammation and it gives me great energy and clarity. I would recommend it to friends and family.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Chaundra Cauthen<span>Gold Liposomal Turmeric customer</span></p>
        <!-- Button to Open the Modal -->
        <button class="video-modal testimonials-cards__video" id="susan-video"
                data-video="https://www.youtube.com/embed/mwTZjJhJPSg"
        " data-toggle="modal" data-target="#videoModal">Watch chaundra's story</button>
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-container">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <div class="iframe-container">
                                <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-pat-killorin.jpg?v=1612933949" alt="">
        <p class="testimonials-cards__quote">“I am a former football player who has had seven knee surgeries (four
            replacements), hip surgery and shoulder issues! Over the years, I have managed the pain fairly well!
            However, reaching 75 years, the pain has become very difficult. I don’t like to take Advil every day so I
            tried Your Gold Tumeric supplement and have had almost miracle results with pain management! Thank you so
            much! I am living life now much happier.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Pat Killorin<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-tina-cecil.jpg?v=1612933965" alt="">
        <p class="testimonials-cards__quote">“This has reduced my inflammation without needing to take strong synthetic
            drugs. It doesn't taste good, but I drink it straight anyway.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Tina Cecil<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-portia-solano.jpg?v=1612933955" alt="">
        <p class="testimonials-cards__quote">“I've had a sprained left ankle for years. Upon going through advertising,
            I came across Synchro Gold. As I took the product, I noticed relief after my first two days. Also, I live in
            Midwest of the country and its cold. Still the pain has ceased. I was talking other products, but didn't
            experience the relief as I have with Synchro Gold. Thank you for sharing this product with me and the
            communities around the world.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Portia Solano<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-paul-tracy.jpg?v=1612933951" alt="">
        <p class="testimonials-cards__quote">“A friend recommended this product some years ago. The pain in my fingers
            has disappeared while using this product. I take a teaspoon full every morning. The fingers are still bent
            etc but the pain has stopped. I cannot miss taking it every morning. I buy the 4 bottles at a time.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Paul Tracy<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-caroline-schultz.jpg?v=1612933957" alt="">
        <p class="testimonials-cards__quote">“I have found that Synchro Gold works very well in keeping my blood sugar
            in check. Also cannot imagine how many more aches and pains I would have without it. Definitely will keep
            ordering this!”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Caroline Schultz<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-carolyn-mccaffrey.jpg?v=1612933946" alt="">
        <p class="testimonials-cards__quote">“I had knee problems - now I take this everyday and my knee is better.
            Thank you! Amazing”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Carolyn McCaffrey<span>Gold Liposomal Turmeric customer</span></p>
    </div>
    <div class="testimonials-cards__single">
        <img loading="lazy" class="testimonials-cards__headshot"
             src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/testimonial-virginia-mitchell.jpg?v=1612933948" alt="">
        <p class="testimonials-cards__quote">“As an active 50yr old, I have tried many supplements to keep myself on the
            move. A few years ago I started taking various tumeric supplements, most of which helped but not the
            significant boost until I tried Synchro Gold. Literally overnight, the inflammation and pain from my knee
            subsided. I seriously have never had any type of supplement work so quickly; it usually takes several
            weeks.”</p>
        {% include 'landing-page.global.rating-stars-new' %}
        <p class="testimonials-cards__name">Virginia Mitchell<span>Gold Liposomal Turmeric customer</span></p>
    </div>
</section>
