<section class="quality">
    <div class="quality__icons">
        <div class="quality__icon-box">
            <img class="quality__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-2-organic.svg?v=1612928466">
            <p class="quality__icon-text">Organic Ingredients</p>
        </div>
        <div class="quality__icon-box">
            <img class="quality__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-2-plant-based.svg?v=1612928469">
            <p class="quality__icon-text">100% Plant Based</p>
        </div>
        <div class="quality__icon-box">
            <img class="quality__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-2-gluten-free.svg?v=1612928432">
            <p class="quality__icon-text">Gluten Free</p>
        </div>
        <div class="quality__icon-box">
            <img class="quality__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-2-non-gmo.svg?v=1612928467">
            <p class="quality__icon-text">Non-GMO</p>
        </div>
        <div class="quality__icon-box">
            <img class="quality__icon" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/ingredient-2-cgmp.svg?v=1612928442">
            <p class="quality__icon-text">cGMP Certified</p>
        </div>
    </div>
</section>
