<section class="rejuve-section rejuve-worktgt">
  <h2 class="rejuve-worktgt__title">
    How <em class="em--gold">gold</em> + <em>rejuve</em> work together to heal
  </h2>
  <div class="rejuve-worktgt__content">
    <div class="rejuve-worktgt__item">
      <img
        src="{{ 'gold-worktgt-liposomal.png ' | asset_url }}"
        alt=""
        class="rejuve-worktgt__item-image wow animate__fadeIn"
        width="515"
        height="400"
      />
      <div class="rejuve-worktgt__item-info wow animate__fadeInUp" data-wow-delay="15ms" data-wow-duration="500ms">
        <h3 class="rejuve-worktgt__item-title">
          Gold Medical Grade Liposomal Turmeric
        </h3>
        <h4 class="rejuve-worktgt__item-benefit">
          <em class="em--gold">Balances Inflammatory Response</em>
        </h4>
        <div class="rejuve-worktgt__item-writeup">
          <p>
            Gold is remarkably effective at restoring balance to the body’s
            inflammatory response, particularly in and around the joints.
          </p>
          <p>
            This not only relieves much of the stiffness and discomfort, but
            reduces the stress and congestion in the joint, finally allowing for
            regeneration and repair of damaged tissues in the joint. This is
            where re·juve comes in…
          </p>
        </div>
      </div>
    </div>
    <img
      src="{{ 'gold-worktgt-plus.svg ' | asset_url }}"
      alt=""
      class="rejuve-worktgt__item-plus"
      width="50"
      height="50"
    />
    <div class="rejuve-worktgt__item">
      <img
        src="{{ 'gold-worktgt-regen.png ' | asset_url }}"
        alt=""
        class="rejuve-worktgt__item-image wow animate__fadeIn"
        width="515"
        height="400"
      />
      <div class="rejuve-worktgt__item-info wow animate__fadeInUp" data-wow-delay="15ms" data-wow-duration="500ms">
        <h3 class="rejuve-worktgt__item-title">
          Re·juve Joint Regeneration Formula
        </h3>
        <h4 class="rejuve-worktgt__item-benefit">
          <em>Regenerates + Repairs Joint Tissues</em>
        </h4>
        <div class="rejuve-worktgt__item-writeup">
          <p>
            BioHyaluronic™ supplies the body with the materials it needs to
            regenerate the damaged joint tissues that are the underlying cause
            of the inflammation, stiffness and discomfort.
          </p>
          <p>
            Furthermore, Aronia Extract and Liposomal Glutathione protect the
            joint tissues from further oxidative degeneration, allowing for
            rebuilding and repair to begin.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
