<a class="anchor" name="technology-2"></a>
<section class="technology-2">
    <img class="technology-2__image" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/gold-og-hero@2x.png?v=1612939579"
         alt="Gold Liposomal Turmeric Capsules">
    <div class="technology-2__content">
        <h3 class="technology-2__header">The World’s Most Potent Turmeric Supplement</h3>
        <p class="technology-2__subheader">Three innovative technologies work in synergy to produce Gold’s unmatched
            effectiveness.</p>
        <div class="technology-2__tech">
            <div class="technology-2__liposomal">
                <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/technology-liposomal.svg?v=1612937708" alt="Lipsomal Delivery">
                <p class="technology-2__title">1. Liposomal Delivery</p>
                <p class="technology-2__copy">Maximizes absorption in the body.</p>
            </div>
            <div class="technology-2__pepper">
                <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/technology-black-pepper.svg?v=1612937688"
                     alt="Black Pepper Extract">
                <p class="technology-2__title">2. Black Pepper Extract</p>
                <p class="technology-2__copy">Protects the turmeric from breakdown in the gut.</p>
            </div>
            <div class="technology-2__extraction">
                <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/technology-extraction.svg?v=1612937715"
                     alt="Organic, Whole-Root CO2 Extraction Technology">
                <p class="technology-2__title">3. Full-Spectrum CO2 Extraction Technology</p>
                <p class="technology-2__copy">Delivers ALL of turmeric’s beneficial compounds in their most potent
                    form.</p>
            </div>
        </div>
    </div>
    <div>
        <a role="button" href="#purchase">
            <div class="a--cta">Get Gold</div>
        </a>
    </div>
</section>
