<div class="testimonials__atf">
  <div class="testimonials__video">
    <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-review-connie.png?v=1617989083" alt="Connie's story">
  </div>
  <div class="testimonials__copy">
    <p class="testimonials__title">Connie's story</p>
    <p class="testimonials__quote-single">“Love this product. I've used it for a year and a half. Feel awesome, helped with joint pain and not one migraine! It’s really nice to find a company with high quality products with efficacy. Thanks!”</p>
    <p class="testimonials__name">Connie Graber</p>
  </div>
</div>
