<div class="payment__methods">
    <div class="payment__method-copy">We accept</div>
    <img class="payment__method-img" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/payment-icon-2@2x.png?v=1612933362"
         alt="Safe and Secure Payment Methods">
    <img class="payment__method-img" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/payment-icon-1@2x.png?v=1612933361"
         alt="Safe and Secure Payment Methods">
</div>
