<section class="rejuve-section rejuve-ingredients">
    <h2 class="rejuve-ingredients__title"><em>Rejuve</em> employs three innovative to help your body regenerate joint
        tissue:</h2>
    <ul class="rejuve-ingredients__items">
        <!-- @todo: add leaves for mobile -->
        <!-- BioHyaluronic™ -->
        <li class="rejuve-ingredients__item">
            <div class="rejuve-ingredients__item-image-circle wow animate__fadeInLeft">
                <img src="{{'rejuve-biohyaluronic.png' | asset_url}}" alt="BioHyaluronic™" class="rejuve-ingredients__item-image" width="290" height="290">
            </div>
            <div class="rejuve-ingredients__item-content wow animate__fadeInUp">
                <h3 class="rejuve-ingredients__item-name">BioHyaluronic™</h3>
                <p class="rejuve-ingredients__item-benefit">Rebuilds Joint Synovial Fluid</p>

                <button class="rejuve-ingredients__item-read-more"><span>Learn more</span><i
                        class="fas fa-plus"></i></button>
                <div class="rejuve-ingredients__item-writeup">
                    <p>
                        Hyaluronic Acid (HA) has a mountain of research behind it showing its efficacy in reversing
                        joint degeneration and arthritic symptoms. [1]
                    </p>
                    <p>
                        Oral HA supplements, however, have always been limited by poor absorption from the gut and low
                        rates of transport to the joint capsule.</p>
                    <p>
                        BioHyaluronic™ uses HA bound to phospholipids that absorbs from the gut and transports to the
                        joints at a rate several times greater than other oral HA formulas.[z] (BioHyaluronic™ is our
                        proprietary formula and the only one available today to utilize phospholipids bound to HA.)
                    </p>
                    <p>
                        Simply put, nothing is more effective at rebuilding joint synovial fluid and reversing
                        aging-related degeneration.</p>
                </div>
            </div>
        </li>
        <!-- Aronia Melanocarpa Extract -->
        <li class="rejuve-ingredients__item">
            <div class="rejuve-ingredients__item-image-circle wow animate__fadeInUp">
                <img src="{{'rejuve-aronia.png' | asset_url}}" alt="Aronia Melanocarpa Extract" class="rejuve-ingredients__item-image" width="290" height="290">
            </div>
            <div class="rejuve-ingredients__item-content wow animate__fadeInUp" data-wow-delay="50ms">
                <h3 class="rejuve-ingredients__item-name">Aronia Melanocarpa Extract</h3>
                <p class="rejuve-ingredients__item-benefit">Protects + Helps Regenerate Joint Tissues</p>
                <button class="rejuve-ingredients__item-read-more"><span>Learn more</span><i
                        class="fas fa-plus"></i></button>
                <div class="rejuve-ingredients__item-writeup">
                    <p>
                        Oxidative degeneration is the primary force driving deterioration of the connective tissue in
                        our
                        joints. Neutralizing oxidation is the key to protecting remaining cartilage and allowing the
                        body to
                        begin regeneration.[2]
                    </p>
                    <p>
                        Re·juve uses an extract of the Aronia Melanocarpa berries standardized to 25% anthocyanins,
                        natural
                        compounds shown to stimulate production of superoxide dismutase (SOD), the body’s powerful
                        antioxidant responsible for protecting joint cartilage from oxidative degeneration. [3][4]</p>
                </div>
            </div>
        </li>
        <!-- Liposomal Glutathione -->
        <li class="rejuve-ingredients__item">
            <div class="rejuve-ingredients__item-image-circle wow animate__fadeInRight">
                <img src="{{'rejuve-lipsomal.png' | asset_url}}" alt="Liposomal Glutathione" class="rejuve-ingredients__item-image" width="290" height="290">
            </div>
            <div class="rejuve-ingredients__item-content wow animate__fadeInUp" data-wow-delay="100ms">
                <h3 class="rejuve-ingredients__item-name">Liposomal Glutathione</h3>
                <p class="rejuve-ingredients__item-benefit">Protects Cartilage From Oxidative Degeneration</p>
                <button class="rejuve-ingredients__item-read-more"><span>Learn more</span><i
                        class="fas fa-plus"></i></button>
                <div class="rejuve-ingredients__item-writeup">
                    <p>
                        Glutathione is another powerful antioxidant shown to produce a huge set of anti-aging benefits
                        in
                        the body, from protecting against neurodegenerative diseases to improving heart health. [5][6]
                    </p>
                    <p>
                        Critically, glutathione has also been shown to protect against oxidative degeneration and
                        balance
                        inflammation in our joints - producing increased joint comfort and mobility. [7]
                    </p>
                    <p>
                        Our liposomal formula encapsulates glutathione in phospholipids, protecting it from breakdown in
                        the
                        gut, and allowing for very high levels of absorption into the body.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</section>