// STYLES FOR ONGOING EXPERIMENTS/TESTS

.cap014 {
  .superior {
    &__points {
      padding-bottom: $gutter-small;
      @include sm-screen {
        padding-bottom: $gutter-medium;
      }
    }

    .p--title-new {
      color: $color-ivory;
    }

    .comparison {
      padding: 0 $gutter-medium $gutter-medium*2;
      max-width: 1280px;
      margin: 0 auto;
      @include m-screen {
        padding: 0 $gutter-small 20px;
      }

      &__table {
        background: $color-beige;
        border-radius: $radius-medium;
        margin-top: $gutter-large;
        overflow: hidden;
        @include m-screen {
          margin-top: $gutter-medium;
        }
      }

      &__row {
        display: flex;
        align-items: center;
        padding: 0 10px 0 40px;
        @include m-screen {
          padding-left: 30px;
        }
        @include s-screen {
          padding-left: 15px;
        }

        &:first-child {
          align-items: initial;
          @include s-screen {
            align-items: center;
          }
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          background: $color-ivory;
        }
      }

      &__competitor {
        flex: 1;
        padding: 30px 10px 20px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        @include sm-screen {
          padding: 15px 0;
        }

        &:first-child {
          .comparison__product-img {
            height: 60px;
          }
        }
      }

      &__product-img-1,
      &__product-img-2,
      &__product-img-3,
      &__product-img-4 {
        height: 80px;
        max-width: 100%;
        @include xs-screen {
          height: 50px;
        }
      }

      &__product-img-1 {
        @include xs-screen {
          height: 60px;
        }
      }

      &__product {
        margin: 15px 0 0;
        line-height: normal;
        @include sm-screen {
          display: none;
        }
      }

      &__checkbox {
        flex: 1;
        font-size: 0;
        text-align: center;
      }

      &__copy {
        width: 280px;
        @include s-screen {
          width: 130px;
        }
      }

      &__benefit {
        margin: 15px 0;
        @include s-screen {
          line-height: normal;
        }
        @include xs-screen {
          font-size: 16px;
        }
      }

      &__false,
      &__true {
        margin: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 21px;
        border-radius: $radius-medium;

        &:after {
          font-size: 10px;
          color: $color-ivory;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
        }
      }

      &__false {
        background: #E2413E;

        &:after {
          content: "\f00d";
        }
      }

      &__true {
        background: #28B57A;

        &:after {
          content: "\f00c";
        }
      }
    }
  }
}

.cap016 {
  .atf {
    &__hero-image {
      background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-atf-product-cap016@2x.jpeg?v=1627322058");
      @include sm-screen {
        background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-atf-mobile-cap016@2x.jpeg?v=1627322056");
      }
    }
  }
}

.cap017-01 {
  .purchase-4 {
    @include s-screen {
      background: #fafafa;
      padding: 40px 20px 30px;
      display: block;
    }

    .p--title-new {
      display: none;
      @include s-screen {
        display: block;
      }
    }

    &__content {
      @include s-screen {
        background: none;
        margin-top: 40px;
        padding: 0;
      }
    }

    &__image {
      @include s-screen {
        display: none;
      }
    }

    &__details-mobile {
      @include s-screen {
        background: $color-ivory;
        border: 2px solid $color-gold;
        border-radius: $radius-medium;
        padding: 30px 20px 10px;
      }
    }

    &__image-mobile {
      display: none;
      @include s-screen {
        display: block;
        width: initial;
        margin: 15px auto;
        height: 250px;
      }
    }

    &__options {
      @include s-screen {
        background: none;
        padding: 10px 0 5px;
      }
    }

    &__options-title {
      @include s-screen {
        margin: 5px 0;
      }
    }

    &__option-item {
      @include s-screen {
        padding: 5px 15px;
        border: 2px solid $color-silver;
        border-radius: 10px;

        &.selected {
          display: none;
        }
      }
    }

    &__option-image {
      @include s-screen {
        display: initial;
        opacity: 1;
      }
    }

    &__option-details {
      @include s-screen {
        margin-left: 12px;
        opacity: 1;
      }
    }

    &__option-quantity {
      @include s-screen {
        font-size: 16px;
      }
    }

    &__option-price {
      @include s-screen {
        font-size: 18px;
      }
    }

    &__fast-shipping-mobile {
      @include s-screen {
        margin-top: 30px;
      }
    }
  }
}
