// Floating Bar with Purchase Options

.floating-purchase-options {
  position: fixed;
  width: 100%;
  max-width: 2000px;
  bottom: -100px;
  text-align: center;
  z-index: 1000;
  background: #ece8e1;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  overflow: auto;
  padding: 5px 15px;
  -ms-overflow-style: none;
  @include sm-screen {
    border-radius: $radius-large $radius-large 0 0;
  }

  &.show-purchase-options {
    bottom: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: inline-block;
    margin: 10px 5px;
    background: $color-ivory;
    border-radius: $radius-medium;
    padding: 5px 15px 5px 20px;
    position: relative;
  }

  &__item2,
  &__item3 {
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #319E9E;
      padding: 2px 5px;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.5px;
      line-height: 1;
      @include xs-screen {
        display: none;
      }
    }
  }

  &__item2 {
    &:before {
      content: '5% off';
    }
  }

  &__item3 {
    &:before {
      content: '10% off';
    }
  }

  &__item1 {
    @include xs-screen {
      display: none;
    }
  }

  &__image {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
  }

  &__details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  &__quantity {
    font-weight: $font-bold;
    font-size: 15px;
  }

  &__price {
    font-weight: $font-bold;
    font-size: 18px;
    color: $color-gold;
  }

  .a--cta {
    background: $color-gold;
    vertical-align: middle;
    padding: 9px 20px;
    font-size: 16px;
    margin-left: 10px;
    line-height: 25px;

    &:after {
      display: none;
    }
    @include sm-screen {
      display: none;
    }
  }
}

.pseudo-purchase-options {
  height: 103px;
  position: relative;
  background-color: $color-ebony;
}
