<div>
	<a href="https://besynchro.com/pages/reviews"><img src="//cdn.shopify.com/s/files/1/0155/0195/files/Photo_Page_Header-min.png?v=1581610918" alt="" class="slider-image"></a>
</div>

<div class="rte">
	<h1 class="page-title">{{ page.title }}</h1>
	{{ page.content }}
</div>
