{% layout "theme.landing-page-rejuve" %}

{% capture page_content %}

    <section class="rejuve-lp">
        {% include 'landing-page.rejuve.header' %}
        {% include 'landing-page.rejuve.quality' %}
        {% include 'landing-page.rejuve.joints-explained' %}
        {% include 'landing-page.rejuve.ingredients' %}
        {% include 'landing-page.rejuve.how-gold-rejuve-work-together' %}
        {% include 'landing-page.rejuve.purchase' %}
        {% include 'landing-page.rejuve.faq' %}
        {% include 'landing-page.rejuve.references' %}
        {% include 'landing-page.global.footer' %}
        {% include 'landing-page.gold.capsules.floating-purchase-options' %}
        {%- comment -%}
        {% include 'landing-page.gold.capsules.purchase-cap015' %}
        {% include 'landing-page.gold.capsules.references' %}
        {% include 'landing-page.rejuve.footer' %}
        {% include 'landing-page.rejuve.floating-purchase-options' %}
        {%- endcomment -%}
    </section>
    
    {%- comment -%}
    <section class="gold-lp gold-capsules">
        {% include 'landing-page.global.header' %}
        {% include 'landing-page.gold.capsules.atf' %}
        {% include 'landing-page.gold.capsules.review1' %}
        {% include 'landing-page.gold.capsules.benefits' %}
        {% include 'landing-page.gold.capsules.review2' %}
        {% include 'landing-page.gold.capsules.superior' %}
        {% include 'landing-page.gold.capsules.quality' %}
        {% include 'landing-page.gold.capsules.review3' %}
        {% include 'landing-page.gold.capsules.ingredients' %}
        {% include 'landing-page.gold.capsules.review4' %}
        {% include 'landing-page.gold.capsules.purchase' %}
        {% include 'landing-page.gold.capsules.reviews' %}
        {% include 'landing-page.gold.capsules.faq' %}
        {% include 'landing-page.gold.capsules.references' %}
        {% include 'landing-page.global.footer' %}
        {% include 'landing-page.gold.capsules.floating-purchase-options' %}
    </section>
    {%- endcomment -%}

{% endcapture %}
