{% layout "theme.blank" %}

{% capture page_content %}

<section class="bfcm-2020">
  <div class="bfcm-2020__left">
    <img class="bfcm-2020__logo" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/synchro-badge-light.svg?v=1604584008" alt="Synchro">
    <div class="bfcm-2020__title">
      <h1 class="bfcm-2020__title-copy">Black Friday</h1>
      <img class="bfcm-2020__x" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/bfcm-x.svg?v=1604332019" alt="x">
      <h1 class="bfcm-2020__title-copy">Cyber Monday</h1>
    </div>
  </div>
  <div class="bfcm-2020__right">
    <div class="bfcm-2020__content">
      <h2 class="bfcm-2020__header">You’re Officially In!</h2>
      <p class="bfcm-2020__copy">Thanks for signing up! You’ll be the first to get access to our Black Friday sale, a day early.</p>
      <p class="bfcm-2020__copy">And of course, you also get exclusive access to our Thanksgiving-day-only deals on product bundles (up to 50% in some instances!).</p>
      <p class="bfcm-2020__copy">All of these bundles are available in limited quantities, and <span>when they sell out, they sell out</span> - so be sure to be there early on Thursday.</p>
      <p class="bfcm-2020__copy">In the meantime, you can check out our latest explorations in how best to manage a human body and brain <a href="https://besynchro.com/blogs/blog">on our blog</a>.</p>
      <a class="bfcm-2020__cta" href="https://besynchro.com/blogs/blog">Check out the blog</a>
    </div>
  </div>
</section>

{% endcapture %}
