{% layout "theme.blank" %}

{% capture page_content %}

<section class="bfcm-2020">
  <div class="bfcm-2020__left">
    <img class="bfcm-2020__logo" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/synchro-badge-light.svg?v=1604584008" alt="Synchro">
    <div class="bfcm-2020__title">
      <h1 class="bfcm-2020__title-copy">Black Friday</h1>
      <img class="bfcm-2020__x" src="https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/bfcm-x.svg?v=1604332019" alt="x">
      <h1 class="bfcm-2020__title-copy">Cyber Monday</h1>
    </div>
  </div>
  <div class="bfcm-2020__right">
    <div class="bfcm-2020__content">
      <h2 class="bfcm-2020__header">Get Early Access To Our Biggest Deals Of The Year</h2>
        <p class="bfcm-2020__copy">Enter your email below and you’ll get exclusive access to Thursday-only, limited-quantity product bundles...with savings up to 50% off.</p>
        <p class="bfcm-2020__copy">Plus, you’ll be the first to get access to our site-wide Black Friday deals, before popular items sell out.</p>
        <div class="klaviyo-form-R2qmV5"></div>
    </div>
  </div>
</section>

{% endcapture %}
