<div>
	<a href="https://besynchro.com/pages/synchro-affiliate-program-application"><img src="//cdn.shopify.com/s/files/1/0155/0195/files/AFFILIATE_PAGE_HEADER-01_2048x2048.jpg?v=1524402772" alt="15% Commission | 30 Day Referral" class="slider-image"></a>
</div>

<div class="rte">
	<h1 class="page-title">{{ page.title }}</h1>
	{{ page.content }}
</div>
