.faq {
  background: $color-beige;
  overflow: auto;
  font-size: 0;
  text-align: center;
  padding: $gutter-large 30px 30px;
  border-radius: 20px;
  margin: 0 $gutter-medium;
  @include sm-screen {
    padding: $gutter-medium 30px 10px;
    margin: 0;
  }

  &__title {
    padding-top: $gutter-large;
    font-weight: $font-bold;
    font-size: 35px;
    margin-bottom: 40px;
    @include m-screen {
      padding-top: $gutter-medium;
    }
    @include s-screen {
      font-size: 25px;
    }
  }

  &__cards {
    margin: $gutter-large auto 0;
    max-width: 1400px;
    @include sm-screen {
      margin-top: $gutter-medium;
    }
  }

  &__card {
    width: 33.33%;
    display: inline-block;
    padding: 0 15px 30px;
    vertical-align: top;
    @include m-screen {
      width: 50%;
    }
    @include sm-screen {
      padding: 0 0 20px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }

    &.active {
      .faq__copy {
        max-height: 800px;
      }
    }

    .toggle-single-view {
      background: $color-ivory;
      padding-bottom: $gutter-small;
      border-radius: 0 0 10px 10px;
    }
  }

  &__inner {
    background: $color-ivory;
    padding: $gutter-small $gutter-small 0;
    border-radius: 10px 10px 0 0;

    .p--header {
      font-size: 20px;
      font-weight: $font-bold;
    }

    .footnote {
      font-size: 15px;
    }
  }

  &__copy {
    max-height: 20px;
    overflow: hidden;
    transition: 0.5s ease-in-out all;
  }
}
