.ingredients {
  text-align: center;

  .p--title {
    color: $color-ivory;
    border: 1px solid $color-ivory;
    margin-top: 10px;
  }

  &__icons {
    padding: 50px 50px 15px;
    font-size: 0;
    @include s-screen {
      padding: 40px 20px 10px;
    }
  }

  &__icon-box {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    padding-bottom: 15px;
    @include l-screen {
      width: 25%;
    }
    @include xs-screen {
      width: 50%;
    }

    .p--text {
      color: $color-ivory;
      font-size: 16px;
      letter-spacing: 1.5px;
      font-weight: $font-demi;
      text-transform: uppercase;
    }
  }

  &__icon {
    max-width: 90px;
  }

  &__items {
    padding: $gutter-large 0 20px;
    font-size: 0;
    @include s-screen {
      padding-top: $gutter-medium;
    }
  }

  &__image {
    max-height: 150px;
    max-width: 100%;
  }

  &__copy {
    .p--header {
      font-size: 24px;
    }
  }

  &__details {
    padding: 0 $gutter-large $gutter-medium;
    font-size: 0;
    @include m-screen {
      padding: 0 $gutter-medium;
    }
    @include s-screen {
      padding: 0 $gutter-small $gutter-small;
    }
  }

  &__facts {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    @include m-screen {
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 500px;
      box-shadow: 0 0 6px rgba(0,0,0,0.1);
    }
  }

  &__images {
    width: 60%;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    @include m-screen {
      width: 100%;
      margin-top: 40px;
    }
  }

  &__item-box {
    vertical-align: top;
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    padding: 0 5%;
    @include l-screen {
      width: 50%;
    }
    @include m-screen {
      width: 33%;
    }
    @include s-screen {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__header {
    font-weight: $font-medium;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: $spacing-normal;
    margin: 20px 0;
  }
}

.ingredients-2 {
  border-radius: $radius-large;
  margin: 0 $gutter-medium;
  background: $color-beige;
  padding: $gutter-large 30px;
  @include m-screen {
    padding-bottom: $gutter-small;
  }
  @include sm-screen {
    padding: $gutter-medium 30px 0;
    margin: 0;
  }

  &__content {
    -moz-column-count: 3;
    -moz-column-gap: $gutter-medium;
    -webkit-column-count: 3;
    -webkit-column-gap: $gutter-medium;
    column-count: 3;
    column-gap: $gutter-medium;
    padding: $gutter-large $gutter-medium 0;
    max-width: 1280px;
    margin: 0 auto;
    @include m-screen {
      -moz-column-gap: $gutter-small;
      -webkit-column-gap: $gutter-small;
      column-gap: $gutter-small;
      padding: $gutter-large 0 0;
    }
    @include sm-screen {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
      padding-top: $gutter-medium;
    }
  }

  &__details {
    background: $color-ivory;
    border-radius: $radius-medium;
    overflow: hidden;
    font-size: 0;
    page-break-inside: avoid;
    @include sm-screen {
      max-width: 400px;
      margin: 0 auto 30px;
    }
    @include s-screen {}
  }

  &__image1,
  &__image2,
  &__image3 {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    @include s-screen {
      height: 200px;
    }
  }

  &__image1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/gold-cap-ingredients-turmeric@2x.jpg?v=1614361293");
  }

  &__image2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/gold-cap-ingredients-pepper@2x.jpg?v=1614361297");
  }

  &__image3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0155/0195/t/23/assets/gold-cap-ingredients-sunflower@2x.jpg?v=1614361295");
  }

  &__text {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 25px $gutter-small $gutter-small;
    margin-bottom: 0;
    text-align: center;
  }

  &__title {
    font-weight: $font-bold;
    font-size: 27px;

    span {
      opacity: 0.5;
      display: block;
    }
    @include s-screen {
      font-size: 27px;
    }
  }

  &__copy {}

  .p--text {
    margin: 10px 0;
    @include s-screen {
      font-size: 18px;
    }
  }
}

.supplements {
  display: none;

  &__facts {}

  &__facts-image {}

  &__directions {}

  &__direction {}
}
